html,
body,
#root {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* body {
    background-color: #d4bff9;
} */

body {
    background-image: url("https://w.wallhaven.cc/full/45/wallhaven-45wvk8.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}